.c-footer{
  &__img-square{
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__i{
    transform: rotate(315deg);
    position: relative;
    top: 17%;
    margin: 0 5px;
  }
  &__square-content{
    display: flex;
    margin-top: 40px;
    margin-right: 40px;
  }
  &__square{
    margin: 5px;
    width: 50px;
    height: 50px;
    transform: rotate(-315deg);
    border: solid 1px #ffffff;
  }
  &__copy{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  &__link{
    color: white;
  }
  &__link:hover{
    color: blue;
  }
}